*{
    margin:auto;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    
}

.imgAform{
    margin-top:3%;
    display: flex;
    align-content: center;
    background-color: white;
    
}
.img{
    max-width:21%;
    margin-left: 20%;
    margin-right: -7%;
}
h1{
    
    font-weight:bold;
}
form{
    margin-left:2%;
    border-radius:10px;
    min-width: 50%;
    min-height:500px;
   display:grid;
    row-gap: 10%;
    align-content: center;
}
form input{
    border:none;
    border-bottom: 1px solid black;
}

.button{
    padding:5px 10px;
    border-radius: 5px;
    background-color: lightslategray;
    border:1px solid lightslategray;
}
hr{
    color:black;
    width:80%;
    margin-left:10%;
}
.anotherW{
    margin-top:5%;
    display:flex;
}
.anotherW div{
    min-width: 45%;
}
.anotherW .div1 a{
 margin-left:50%;
}
.div2{

    margin-left:0px;
}
.button:hover{
    transform:scale(1.05);
    background-color: lightseagreen;
}